#!/usr/bin/env bash


# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# `v` with no arguments opens the current directory in Vim, otherwise opens the
# given location
function v() {
	if [ $# -eq 0 ]; then
		vim .;
	else
		vim "$@";
	fi;
}
